body{
            background-color: black;
            color: white;
        }
        h2{
            font-size: 35px;
        }
        img{
            height: 80px;
            border-radius: 50%;
        }
        .rock{
            margin: 10px;
            border-radius: 50%;
            border-color: solid gray;
            border-width: 5px;
            cursor: pointer;
        }
        .paper{
            margin: 10px;
            border-radius: 50%;
            border-color: solid gray;
            border-width: 5px;
            cursor: pointer;
        }
        .scissor{
            margin: 10px;
            border-radius: 50%;
            border-color: solid gray;
            border-width: 5px;
            cursor: pointer;
        }
        .div-curResult{
            border-width: 10px;
            border: solid #CCCCCC;
            margin-top: 10px;
            width: 30%;
            display: flex;
            justify-content: center;
            border-radius: 10px;
            padding: 10px;
        }
        #showScore{
            margin: 5px;
            padding: 10px;
            cursor: pointer;
            background-color:#28A745 ;
            border: none;
            border-radius: 30px;
        }
        #resetScore{
            margin: 5px;
            padding: 10px;
            cursor: pointer;
            color: white;
            background-color:grey ;
            border: none;
            border-radius: 30px;
        }
        .div-score{
            border-width: 10px;
            border: solid #CCCCCC;
            margin-top: 10px;
            width: 30%;
            display: flex;
            justify-content: center;
            border-radius: 10px;
            padding: 10px;
        }